<div id="header">
  <div id="search">
	<%= form_tag ('/book_list/show' ,:method => :post)  do %>
		<input type="text" placeholder="请输入书名关键字"  name="serchInput" />
		<span class="submit">
		<input type="submit"  value=" 搜 索 " />
		</span>
	<% end %>
  </div>
  <%= link_to "#{current_user.name}的个人空间" ,"#" %>
  <%= link_to "退出" ,users_sign_out_path ,:methods => :destroy %>
</div>