 <a id="viewerPlaceHolder" style="width:680px;height:680px;display:block"></a>
	        <script type="text/javascript">
				var fp = new FlexPaperViewer(
						 '/FlexPaperViewer',
						 'viewerPlaceHolder', { config : {
						 SwfFile : escape('/<%= @book.url %>'),
						 Scale : 1,
						 ZoomTransition : 'easeOut',
						 ZoomTime : 0.5,
						 ZoomInterval : 0.2,
						 FitPageOnLoad : true,
						 FitWidthOnLoad : true,
						 FullScreenAsMaxWindow : true,
						 ProgressiveLoading : false,
						 MinZoomSize : 0.2,
						 MaxZoomSize : 5,
						 SearchMatchAll : false,
						 InitViewMode : 'Portrait',
						 PrintPaperAsBitmap : false,

						 ViewModeToolsVisible : true,
						 ZoomToolsVisible : true,
						 NavToolsVisible : true,
						 CursorToolsVisible : true,
						 SearchToolsVisible : true,

  						 localeChain: 'zh_CN'
						 }});
	        </script>