@charset "utf-8";

body{position:relative;overflow:hidden;zoom:1;}

#mainContent{
	position:absolute;
	height:100%;
	z-index:1;
}

#mainIndex,#mainLeft,#mainRight,#mainRegister{
	height:100%;
	background:#f7f5f5 url("bg.gif");
    position: relative;
    zoom:1;
    overflow: hidden;
}
#mainRight{
	background:#0d7bd5 url('glow.png') no-repeat center center;
}
#mainRight .reg{
	position:absolute;
	top:50%;
	left:50%;
	margin:-14px 0 0 -57px;
}
#mainRight .reg .register{
	font-size:14px;
	color:rgba(255, 255, 255, .7);
	display:block;
	background:rgba(0, 0, 0, .1);
	padding:3px 15px;
	border-radius:50px;
	box-shadow:0 1px 0 rgba(255,255,255,.15),0px 1px 3px rgba(0,0,0,.2) inset;
}

#mainContain{
    width:400px;
    margin: 100px auto 0;
}
#mainContain .logo{
    text-align: center;
    font-family:' 微软雅黑';
    font-size:60px;
    color:#B0C4DE;
    text-shadow: 1px 1px 3px #B0C4DE;
}
#mainContain .logo .logoFirstWord{
    font-size: 90px;
    text-shadow: 1px 1px 5px #B0C4DE;
}
#mainContain .subLogo{
    text-align: right;
    font-size:14px;
    text-shadow:1px 1px 1px #B9D3EE;
    color:#9FB6CD;
}
#mainContain .login form label{
      display: block;
      color:#999;
    margin-bottom:3px;
}
#mainContain .login .rememberMe{
    margin-top:10px;
}
#mainContain .login .rememberMe label{
    display: inline;
    position: relative;
    top:-2px;
}
#mainContain .login .forgetPwd{
    margin-top:10px;
}
#mainContain .login .submitButton:hover{
    background-color:#4F94CD;
}
#mainContain .login .submitButton{
    width:100%;
    margin-top:15px;
}
#mainContain .login .submitButton:hover{
    color:#fff;
}
#mainRegister{
	width:0;
	position:absolute;
	z-index:-99;
}

#mainIndex #leftSlide{
    position: absolute;
    left:-30px;
    top:50%;
}

#mainIndex #leftSlide .leftSide{
    background-image: url("resultset_previous.png");
}

#mainIndex #rightSlide{
    position: absolute;
    right:-30px;
    top:50%;
}
#mainIndex #rightSlide .rightSide{
    padding-left:0;
    padding-right:21px;
    background-image: url("resultset_next.png");
    background-position: right center;
}
#mainIndex #register{
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-44px;
}
#mainIndex #register .registerButton{
    padding: 0 20px;
}

#signIn,#signUp{
    width:960px;
    margin: 100px auto 0;
    padding: 20px 30px 50px;
    background-color: #f3f3f3;
    border-radius: 20px;
    box-shadow: 4px 5px 10px #bbb;
}

#signIn h2,#signUp h2{
    font-size:14px;
    font-weight: bold;
    color:#555;
}

#new_user{
    margin-top: 20px;
    float: left;
    display: inline;
    padding-left:30px;
}

#new_user label{
    margin-right: 10px;
}

#new_user div{
    margin: 7px 0;
}
#new_user .rememberMe{
    padding-left:40px;
    margin-top:15px;
}
#new_user .rememberMe label{
    position: relative;
    top:-2px;
}
#new_user .rememberMe .submit{
    padding: 2px 30px;
    margin-left:25px;
    cursor: pointer;
}
#signIn .register,#signUp .login{
    margin: 30px 300px 0 0;
    padding: 0 0 60px 50px;
    border-left: 1px dashed #bbb;
}
#signIn .register a,#signUp .login a{
    display: block;
    margin-bottom: 15px;
}

#signUp #new_user{
    position:relative;
    zoom:1;
}
#signUp #new_user label{
    display: inline-block;
    width:50px;
}

#signUp #new_user .submitArea{
    position:absolute;
    top:50px;
    left:380px;
}
#signUp #new_user .submitArea input{
    padding: 5px 40px;
    cursor: pointer;
}